[submodule "lib/ace"]
	path = lib/ace
	url = https://github.com/ajaxorg/ace-builds.git
[submodule "lib/requirejs"]
	path = lib/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "lib/doctorjs"]
	path = lib/doctorjs
	url = https://github.com/mozilla/doctorjs.git
[submodule "lib/esprima"]
	path = lib/esprima
	url = https://github.com/ariya/esprima.git
