h2 {
	margin-top: 0;
}

#editor {
	position: relative;
	width: 600px;
	height: 600px;
	border: 1px dotted black;
	float: left;
}

#outline {
	position: relative;
	width: 300px;
	float: right;
	border: 1px dotted black;
	padding: 0.5em;
}

#modules {
	font-family: Consolas;
	font-size: 10pt;
}

.status-error {
	color: red;
	background-color: black;
}

.CodeMirror {
	height: 595px;
}